extends ../template
block title
  | Доктор Василев
block content
  include ../common/header
  section.banner
    .banner-main
      .w1400.banner-main-grid( data-aos-offset="0" data-aos="fade-right" data-aos-once="true" data-aos-delay="300" data-aos-duration="1000")
        h1.banner-main-grid__title Ринопластика
        p.banner-main-grid__text Красивый и аккуратный нос привлекает внимание к лицу не меньше, чем глаза. И каждому хочется, чтобы данная область идеально подчеркивала черты лица и не портила отражение в зеркале
        .banner-main-grid-bot
          button(data-popup).btn.btn_blue Запись на консультацию
          p.banner-main-grid-bot__price от 165 000 руб
        a(href="#about").banner-main-grid__aboutDoctor Узнать о враче
          <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.35355 4.35355C9.54882 4.15829 9.54882 3.84171 9.35355 3.64645L6.17157 0.464466C5.97631 0.269204 5.65973 0.269204 5.46447 0.464466C5.2692 0.659728 5.2692 0.976311 5.46447 1.17157L8.29289 4L5.46447 6.82843C5.2692 7.02369 5.2692 7.34027 5.46447 7.53553C5.65973 7.7308 5.97631 7.7308 6.17157 7.53553L9.35355 4.35355ZM0 4.5H9V3.5H0V4.5Z" fill="black" fill-opacity="0.75"/>
          </svg>
      .banner-main-woman( data-aos-offset="0" data-aos="fade-left" data-aos-once="true")
        img(src="assets/images/girl-on-main.png" width="740" alt="Ринопластика")
    .w1400.banner-bot
      .banner-bot-item.banner-bot-item_time( data-aos-offset="0" data-aos="fade" data-aos-once="true" data-aos-delay="500" data-aos-duration="500")
        <svg class="banner-bot-item__img" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M50.8888 18.8892C50.8888 18.8892 50.6767 15.1217 48.2221 12.6671C45.7675 10.2125 41.9999 10.0004 41.9999 10.0004" stroke="#6F97F3" stroke-width="1.5" stroke-linecap="round"/>
          <path d="M9.99999 18.8892C9.99999 18.8892 10.2121 15.1217 12.6666 12.6671C15.1212 10.2125 18.8889 10.0004 18.8889 10.0004" stroke="#6F97F3" stroke-width="1.5" stroke-linecap="round"/>
          <circle cx="30.4444" cy="30.4449" r="17.9166" stroke="black" stroke-width="1.5"/>
          <path d="M45.5555 50.0004L41.2283 44.8077" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
          <path d="M14.4444 50.0004L18.8889 44.6671" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
          <path d="M25.1111 35.7782L31.3333 30.4449V17.1116" stroke="#6F97F3" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
        p.banner-bot-item__text Продолжительность
        p.banner-bot-item__subtext 2-4 часа
      .banner-bot-item.banner-bot-item_nose( data-aos-offset="0" data-aos="fade" data-aos-once="true" data-aos-delay="600" data-aos-duration="500")
        <svg class="banner-bot-item__img" width="50" height="60" viewBox="0 0 50 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M29.0662 10.9666C29.0956 11.3983 29.1237 11.83 29.1518 12.2618L29.1518 12.2626C29.1237 11.8306 29.0957 11.3985 29.0662 10.9666ZM18.591 18.8722C17.4285 21.2207 16.7941 23.7316 16.9644 26.3785L18.591 18.8722ZM17.2485 28.9019C17.1332 28.0619 17.018 27.222 16.9644 26.3785L17.2485 28.9019Z" fill="white"/>
          <path d="M24.6065 50.0004C24.1839 49.884 23.7526 49.7925 23.3401 49.6465C22.3315 49.2918 21.4167 48.7496 20.6893 47.9738C19.3612 46.5605 17.6948 46.0613 15.8386 46.0207C13.1261 45.959 10.7511 44.0621 10.1573 41.4558C9.32918 37.8215 11.862 34.4152 15.6104 34.1777C16.362 34.13 16.7823 33.7668 17.0628 33.1425C17.1323 32.9863 17.1737 32.8215 17.255 32.6738C17.405 32.4043 17.6417 32.2832 17.944 32.3918C18.2464 32.5004 18.3948 32.7418 18.3346 33.0675C18.2201 33.6796 17.9031 34.2354 17.4345 34.6455C16.9658 35.0556 16.3729 35.2962 15.7511 35.3285C14.5007 35.3797 13.3203 35.9194 12.4636 36.8316C11.6068 37.7437 11.142 38.9555 11.169 40.2066C11.2112 42.7472 13.3151 44.7863 15.9136 44.8527C16.687 44.873 17.4581 45.0152 18.362 45.1168C17.8378 44.7097 17.3823 44.3543 16.9229 44.0019C16.8579 43.9589 16.7894 43.9213 16.7182 43.8894C16.2557 43.6449 16.1089 43.3425 16.2901 42.9972C16.4651 42.6683 16.8136 42.6129 17.2753 42.8613C18.5667 43.5558 19.5128 44.6293 20.4089 45.7519C20.9511 46.4308 21.4292 47.1496 22.1432 47.6902C25.0292 49.8777 27.9362 48.5707 29.487 46.5394C30.3831 45.3675 31.2839 44.209 32.4846 43.3269C32.7692 43.1215 33.0702 42.9399 33.3846 42.784C33.7417 42.6027 34.0596 42.7058 34.2167 43.0144C34.3737 43.323 34.2651 43.6394 33.9042 43.8222C33.2612 44.1504 32.7104 44.5902 32.1589 45.1707C32.6878 45.0769 33.1284 44.9777 33.5737 44.9246C34.1417 44.8566 34.7206 44.8691 35.2823 44.7683C37.2425 44.4269 38.5253 43.284 39.1401 41.3933C39.1721 41.2941 39.1901 41.191 39.2221 41.0925C39.3346 40.7472 39.6276 40.5629 39.9347 40.641C40.2643 40.7246 40.4417 41.0355 40.3534 41.405C40.0886 42.5683 39.4744 43.6227 38.5932 44.4269C37.4714 45.4535 36.1432 45.9715 34.6261 46.0105C33.5206 46.0386 32.4386 46.2238 31.4612 46.741C30.9465 47.0167 30.4719 47.3613 30.0503 47.7652C28.8784 48.8769 27.5807 49.709 25.955 49.9465C25.9197 49.9596 25.8866 49.9777 25.8565 50.0004H24.6065Z" fill="black"/>
          <path d="M29.8407 10.0004C30.147 10.1918 30.236 10.4691 30.236 10.8246C30.236 13.0472 30.4438 15.2449 31.2517 17.3386C31.711 18.5254 32.2798 19.6699 32.7134 20.8652C33.6681 23.498 33.7626 26.1965 33.2493 28.9402C33.0196 30.1707 32.9368 31.423 33.2743 32.6574C33.3489 32.9328 33.4597 33.1971 33.604 33.4433C33.8704 33.8933 34.2524 34.141 34.8118 34.1668C37.286 34.2777 39.3712 35.8285 40.161 38.1066C40.3227 38.5754 40.2173 38.8879 39.8532 39.0144C39.5157 39.134 39.2352 38.9558 39.0642 38.5183C38.2782 36.5035 36.7938 35.4457 34.6415 35.3301C33.6259 35.2761 32.9524 34.7183 32.497 33.8644C31.9384 32.8183 31.8431 31.6769 31.9181 30.523C31.9813 29.5519 32.1243 28.5847 32.2665 27.6207C32.6571 24.9519 32.1712 22.4183 31.1352 19.9644C30.9954 19.6324 30.8446 19.3051 30.6759 18.9246C30.5485 19.4636 30.336 19.6605 29.9798 19.623C29.6415 19.5871 29.4665 19.3433 29.4493 18.8816C29.4438 18.7519 29.4407 18.6215 29.436 18.491C29.4157 17.9152 29.5071 17.7879 30.0743 17.6168C29.9563 17.3043 29.9774 16.948 29.5767 16.7707C29.4438 16.7121 29.336 16.4527 29.3298 16.2808C29.3157 15.8988 29.3977 15.5144 29.3931 15.1316C29.3931 14.8097 29.3024 14.4894 29.2798 14.1668C29.2017 13.0386 29.1345 11.9097 29.0532 10.7816C29.029 10.4332 29.1548 10.1785 29.4501 10.0004H29.8407Z" fill="black"/>
          <path d="M21.0907 10.0004C21.4032 10.2168 21.4884 10.5254 21.4587 10.8832C21.3478 12.2043 21.2243 13.5246 21.1345 14.8465C21.1048 15.2902 21.1657 15.7394 21.1829 16.1855C21.1954 16.498 21.0509 16.6933 20.7923 16.8886C20.5931 17.0386 20.5142 17.3488 20.3759 17.5972C21.0267 17.8051 21.1095 17.9277 21.079 18.5785C21.0712 18.7347 21.0564 18.891 21.0431 19.0472C21.0173 19.3535 20.8743 19.5715 20.5571 19.6176C20.2399 19.6636 20.0048 19.5207 19.9032 19.198C19.8845 19.1394 19.8564 19.0832 19.8173 18.991C18.411 21.8965 17.7478 24.8793 18.311 28.0691C18.4196 28.6832 18.4931 29.3043 18.5681 29.9238C18.6196 30.3496 18.3946 30.6629 18.0399 30.6965C17.7017 30.7293 17.4548 30.4816 17.404 30.0605C17.2548 28.834 17.0454 27.6113 16.9673 26.3808C16.8009 23.734 17.4314 21.2246 18.5939 18.8746C19.8532 16.3308 20.2548 13.6402 20.2821 10.8566C20.2821 10.5082 20.3603 10.2261 20.6259 10.0027L21.0907 10.0004Z" fill="black"/>
          <rect x="19.9951" y="20.4003" width="1.2" height="2" rx="0.6" transform="rotate(1.87088 19.9951 20.4003)" fill="#6F97F3"/>
          <rect x="29.4" y="20.4906" width="1.2" height="2" rx="0.6" transform="rotate(-4.31581 29.4 20.4906)" fill="#6F97F3"/>
          <rect x="19.8024" y="23.1963" width="1.2" height="2" rx="0.6" transform="rotate(2.279 19.8024 23.1963)" fill="#6F97F3"/>
          <rect x="29.5096" y="23.2911" width="1.2" height="2" rx="0.6" transform="rotate(-3.90769 29.5096 23.2911)" fill="#6F97F3"/>
          <rect x="19.6416" y="25.8194" width="1.2" height="2" rx="0.6" transform="rotate(2.279 19.6416 25.8194)" fill="#6F97F3"/>
          <rect x="29.6325" y="25.9162" width="1.2" height="2" rx="0.6" transform="rotate(-3.90769 29.6325 25.9162)" fill="#6F97F3"/>
          <rect x="19.4454" y="28.6195" width="1.19618" height="1.99363" rx="0.598088" transform="rotate(2.279 19.4454 28.6195)" fill="#6F97F3"/>
          <rect x="29.7393" y="28.7212" width="1.19618" height="1.99363" rx="0.598088" transform="rotate(-3.90769 29.7393 28.7212)" fill="#6F97F3"/>
          <rect x="19.2804" y="31.399" width="1.19618" height="1.99363" rx="0.598088" transform="rotate(4.44578 19.2804 31.399)" fill="#6F97F3"/>
          <rect x="29.8747" y="31.5023" width="1.19618" height="1.99363" rx="0.598088" transform="rotate(-1.7409 29.8747 31.5023)" fill="#6F97F3"/>
          <rect x="19.1166" y="34.0193" width="1.19618" height="1.50366" rx="0.598088" transform="rotate(4.44578 19.1166 34.0193)" fill="#6F97F3"/>
          <rect x="29.9943" y="34.125" width="1.19618" height="1.50366" rx="0.598088" transform="rotate(-1.7409 29.9943 34.125)" fill="#6F97F3"/>
        </svg>
        p.banner-bot-item__text Способ
        p.banner-bot-item__subtext Закрытый или открытый
      .banner-bot-item.banner-bot-item_bed( data-aos-offset="0" data-aos="fade" data-aos-once="true" data-aos-delay="700" data-aos-duration="500")
        <svg class="banner-bot-item__img" width="66" height="60" viewBox="0 0 66 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M56.181 31.0426C56.181 28.8856 54.9227 27.0174 53.1017 26.1324V24.6435C53.0957 25.0119 52.7952 25.3087 52.4253 25.3087C52.0516 25.3087 51.7488 25.0058 51.7488 24.6322V23.3257C51.7488 23.3295 51.7487 23.3332 51.7487 23.337V25.6845C51.417 25.6213 51.0752 25.5868 50.7253 25.5868H37.3984L34.6574 25.5869H31.5237L28.7826 25.5868H15.4557C15.1058 25.5869 14.764 25.6213 14.4323 25.6845V18.2023C14.4323 16.8606 15.5239 15.769 16.8656 15.769H21.7462H44.4348H49.3155C50.6572 15.769 51.7488 16.8606 51.7488 18.2023V23.3257C51.7548 22.9573 52.0553 22.6605 52.4252 22.6605C52.7989 22.6605 53.1017 22.9634 53.1017 23.337V24.6435C53.1018 24.6397 53.1018 24.636 53.1018 24.6322V18.2023C53.1018 16.1146 51.4033 14.4161 49.3155 14.4161H44.2138H21.9674H16.8656C14.7778 14.4161 13.0793 16.1146 13.0793 18.2023V26.1324C11.2583 27.0174 10 28.8856 10 31.0426L10 38.0561C10 37.6824 10.3029 37.3796 10.6765 37.3796C11.0501 37.3796 11.353 37.6824 11.353 38.0561V31.0426C11.353 28.7804 13.1934 26.9399 15.4557 26.9399H50.7253C52.9875 26.9399 54.828 28.7804 54.828 31.0426V40.8808H11.353V42.2338H54.8281V43.9991H11.353V42.3514C11.353 42.7251 11.0501 43.0279 10.6765 43.0279C10.3029 43.0279 10 42.7251 10 42.3514L10 44.6755C10 45.0492 10.3029 45.352 10.6765 45.352H12.1996V49.3235C12.1996 49.6972 12.5024 50 12.876 50H16.5778C16.9514 50 17.2543 49.6972 17.2543 49.3235V45.352H48.9268V49.3235C48.9268 49.6972 49.2296 50 49.6033 50H53.305C53.6787 50 53.9815 49.6972 53.9815 49.3235V45.352H55.5046C55.8783 45.352 56.181 45.0492 56.181 44.6755V41.5573V31.0426ZM13.5525 48.6472H15.9013L15.9013 45.3521H13.5525V48.6472ZM50.2798 48.6472H52.6285V45.3521H50.2798V48.6472Z" fill="black"/>
          <path d="M53.1017 23.337C53.1017 22.9634 52.7989 22.6605 52.4252 22.6605C52.0553 22.6605 51.7548 22.9573 51.7488 23.3257V24.6322C51.7488 25.0058 52.0516 25.3087 52.4253 25.3087C52.7952 25.3087 53.0957 25.0119 53.1017 24.6435V23.337Z" fill="black"/>
          <path d="M10 38.0561V41.5573L10 42.3514C10 42.7251 10.3029 43.0279 10.6765 43.0279C11.0501 43.0279 11.353 42.7251 11.353 42.3514V42.2338V40.8808V38.0561C11.353 37.6824 11.0501 37.3796 10.6765 37.3796C10.3029 37.3796 10 37.6824 10 38.0561Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M37.6672 25.5897C42.2341 22.7616 44.7171 19.4642 44.7171 16.1519C44.7171 16.0238 44.7121 15.8966 44.7049 15.7701L44.4839 14.4169C44.2183 13.4536 43.7312 12.5725 43.0489 11.8463C41.9304 10.6557 40.3857 10 38.6996 10C35.9707 10 34.1913 11.3239 33.3586 12.1332C32.526 11.324 30.7466 10 28.0176 10C26.3314 10 24.7869 10.6557 23.6684 11.8463C22.9861 12.5725 22.4991 13.4536 22.2334 14.4169L22.0122 15.7701C22.005 15.8967 22 16.0238 22 16.1519C22 19.4643 24.483 22.7617 29.0498 25.5897L33.3585 28.24L37.6672 25.5897ZM23.3532 16.1519C23.3532 18.0464 24.4534 21.7811 31.7914 25.5897L33.3896 26.4965L34.9257 25.5897C42.2638 21.7811 43.3639 18.0464 43.3639 16.1519C43.3639 14.8746 42.906 13.6708 42.0625 12.7729C41.2025 11.8574 40.0082 11.3533 38.6995 11.3533C35.534 11.3533 33.9214 13.5171 33.9054 13.5389C33.7781 13.7137 33.5749 13.8171 33.3585 13.8171C33.1422 13.8171 32.939 13.7137 32.8116 13.5389C32.7471 13.4518 31.1547 11.3533 28.0175 11.3533C25.3109 11.3533 23.3532 13.4947 23.3532 16.1519Z" fill="white"/>
          <path d="M31.7914 25.5897C24.4534 21.7811 23.3532 18.0464 23.3532 16.1519C23.3532 13.4947 25.3109 11.3533 28.0175 11.3533C31.1547 11.3533 32.7471 13.4518 32.8116 13.5389C32.939 13.7137 33.1422 13.8171 33.3585 13.8171C33.5749 13.8171 33.7781 13.7137 33.9054 13.5389C33.9214 13.5171 35.534 11.3533 38.6995 11.3533C40.0082 11.3533 41.2025 11.8574 42.0625 12.7729C42.906 13.6708 43.3639 14.8746 43.3639 16.1519C43.3639 18.0464 42.2638 21.7811 34.9257 25.5897L33.3896 26.4965L31.7914 25.5897Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M37.6672 25.5897C42.2341 22.7616 44.7171 19.4642 44.7171 16.1519C44.7171 16.0238 44.7121 15.8966 44.7049 15.7701L44.4839 14.4169C44.2183 13.4536 43.7312 12.5725 43.0489 11.8463C41.9304 10.6557 40.3857 10 38.6996 10C35.9707 10 34.1913 11.3239 33.3586 12.1332C32.526 11.324 30.7466 10 28.0176 10C26.3314 10 24.7869 10.6557 23.6684 11.8463C22.9861 12.5725 22.4991 13.4536 22.2334 14.4169L22.0122 15.7701C22.005 15.8967 22 16.0238 22 16.1519C22 19.4643 24.483 22.7617 29.0498 25.5897L33.3585 28.24L37.6672 25.5897ZM23.3532 16.1519C23.3532 18.0464 24.4534 21.7811 31.7914 25.5897L33.3896 26.4965L34.9257 25.5897C42.2638 21.7811 43.3639 18.0464 43.3639 16.1519C43.3639 14.8746 42.906 13.6708 42.0625 12.7729C41.2025 11.8574 40.0082 11.3533 38.6995 11.3533C35.5339 11.3533 33.9214 13.5171 33.9054 13.5389C33.7781 13.7137 33.5749 13.8171 33.3585 13.8171C33.1422 13.8171 32.939 13.7137 32.8116 13.5389C32.7471 13.4518 31.1547 11.3533 28.0175 11.3533C25.3109 11.3533 23.3532 13.4947 23.3532 16.1519Z" fill="#6F97F3"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M56.181 31.0426C56.181 28.8856 54.9227 27.0174 53.1017 26.1325L51.7487 25.6845C51.417 25.6213 51.0752 25.5869 50.7253 25.5869H37.3984L34.6574 25.5869H31.5237L28.7826 25.5869H15.4557C15.1058 25.5869 14.764 25.6213 14.4323 25.6845L13.0793 26.1325C11.2583 27.0174 10 28.8856 10 31.0426L10 38.0561C10 37.6824 10.3029 37.3796 10.6765 37.3796C11.0501 37.3796 11.353 37.6824 11.353 38.0561V31.0426C11.353 28.7804 13.1934 26.9399 15.4557 26.9399H50.7253C52.9875 26.9399 54.828 28.7804 54.828 31.0426V40.8808H11.353V42.2339H54.8281V43.9991H11.353V42.3514C11.353 42.7251 11.0501 43.0279 10.6765 43.0279C10.3029 43.0279 10 42.7251 10 42.3514L10 44.6755C10 45.0492 10.3029 45.352 10.6765 45.352H12.1996V49.3235C12.1996 49.6972 12.5024 50 12.876 50H16.5778C16.9514 50 17.2543 49.6972 17.2543 49.3235V45.352H48.9268V49.3235C48.9268 49.6972 49.2296 50 49.6033 50H53.305C53.6787 50 53.9815 49.6972 53.9815 49.3235V45.352H55.5046C55.8783 45.352 56.181 45.0492 56.181 44.6755V41.5573V31.0426ZM13.5525 48.6472H15.9013L15.9013 45.3522H13.5525V48.6472ZM50.2798 48.6472H52.6285V45.3522H50.2798V48.6472Z" fill="white"/>
          <path d="M10 38.0561V41.5573L10 42.3514C10 42.7251 10.3029 43.0279 10.6765 43.0279C11.0501 43.0279 11.353 42.7251 11.353 42.3514V42.2339V40.8808V38.0561C11.353 37.6824 11.0501 37.3796 10.6765 37.3796C10.3029 37.3796 10 37.6824 10 38.0561Z" fill="white"/>
          <path d="M11.353 38.0561V40.8808H54.828V31.0426C54.828 28.7804 52.9875 26.9399 50.7253 26.9399H15.4557C13.1934 26.9399 11.353 28.7804 11.353 31.0426V38.0561Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M56.181 31.0426C56.181 28.8856 54.9227 27.0174 53.1017 26.1325L51.7487 25.6845C51.417 25.6213 51.0752 25.5869 50.7253 25.5869H37.3984L34.6574 25.5869H31.5237L28.7826 25.5869H15.4557C15.1058 25.5869 14.764 25.6213 14.4323 25.6845L13.0793 26.1325C11.2583 27.0174 10 28.8856 10 31.0426L10 38.0561C10 37.6824 10.3029 37.3796 10.6765 37.3796C11.0501 37.3796 11.353 37.6824 11.353 38.0561V31.0426C11.353 28.7804 13.1934 26.9399 15.4557 26.9399H50.7253C52.9875 26.9399 54.828 28.7804 54.828 31.0426V40.8808H11.353V42.2339H54.8281V43.9991H11.353V42.3514C11.353 42.7251 11.0501 43.0279 10.6765 43.0279C10.3029 43.0279 10 42.7251 10 42.3514L10 44.6755C10 45.0492 10.3029 45.352 10.6765 45.352H12.1996V49.3235C12.1996 49.6972 12.5024 50 12.876 50H16.5778C16.9514 50 17.2543 49.6972 17.2543 49.3235V45.352H48.9268V49.3235C48.9268 49.6972 49.2296 50 49.6033 50H53.305C53.6787 50 53.9815 49.6972 53.9815 49.3235V45.352H55.5046C55.8783 45.352 56.181 45.0492 56.181 44.6755V41.5573V31.0426ZM13.5525 48.6472H15.9013L15.9013 45.3522H13.5525V48.6472ZM50.2798 48.6472H52.6285V45.3522H50.2798V48.6472Z" fill="black"/>
          <path d="M10 38.0561V41.5573L10 42.3514C10 42.7251 10.3029 43.0279 10.6765 43.0279C11.0501 43.0279 11.353 42.7251 11.353 42.3514V42.2339V40.8808V38.0561C11.353 37.6824 11.0501 37.3796 10.6765 37.3796C10.3029 37.3796 10 37.6824 10 38.0561Z" fill="black"/>
        </svg>
        p.banner-bot-item__text Стационар
        p.banner-bot-item__subtext Сутки
      .banner-bot-item.banner-bot-item_lang( data-aos-offset="0" data-aos="fade" data-aos-once="true" data-aos-delay="800" data-aos-duration="500")
        <svg class="banner-bot-item__img" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M48.2731 16.2893L43.6905 11.7067C41.4149 9.43111 37.7142 9.43111 35.4386 11.7067L11.7067 35.4386C9.43111 37.7142 9.43111 41.4149 11.7067 43.6905L16.2893 48.2731C19.5648 51.4463 23.5018 49.5093 24.5411 48.2731L48.2731 24.5411C50.5487 22.2656 50.5487 18.5648 48.2731 16.2893ZM23.6278 47.3518C22.8325 48.2416 19.9192 49.84 17.2105 47.3518L12.6279 42.7692C10.8563 40.9976 10.8563 38.1158 12.6279 36.352L18.0767 30.9033L29.0765 41.9031L23.6278 47.3518ZM29.9899 40.9897L18.9822 29.9899L29.9899 18.9822L40.9897 29.982L29.9899 40.9897ZM47.3518 23.6199L41.911 29.0686L30.9033 18.0688L36.352 12.62C38.911 10.2028 41.9976 11.6358 42.7692 12.62L47.3518 17.2027C49.1235 18.9743 49.1235 21.8483 47.3518 23.6199Z" fill="black"/>
          <path d="M24.5411 11.7067C22.2656 9.43111 18.5648 9.43111 16.2893 11.7067L11.7067 16.2893C9.43111 18.5648 9.43111 22.2656 11.7067 24.5411L16.2342 29.0686L29.0686 16.2342L24.5411 11.7067ZM12.62 23.6199C11.6752 22.7538 10.1398 19.8955 12.62 17.2027L17.2027 12.62C20.0058 10.1083 22.738 11.7382 23.6199 12.62L27.234 16.2342L16.2342 27.234L12.62 23.6199Z" fill="black"/>
          <path d="M48.2731 35.4307L43.7456 30.9032L30.9111 43.7377L35.4386 48.2652C36.6985 49.6746 40.5488 51.2809 43.6905 48.2652L48.2731 43.6826C50.5487 41.407 50.5487 37.7063 48.2731 35.4307ZM47.3598 42.7692L42.7772 47.3518C41.9268 48.3045 39.1316 49.8399 36.36 47.3518L32.7458 43.7377L43.7457 32.7378L47.3598 36.3519C49.1235 38.1236 49.1235 40.9975 47.3598 42.7692Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24 31.5C25.0493 31.5 25.9 30.6493 25.9 29.6C25.9 28.5507 25.0493 27.7 24 27.7C22.9506 27.7 22.1 28.5507 22.1 29.6C22.1 30.6493 22.9506 31.5 24 31.5ZM24 30.25C24.359 30.25 24.65 29.959 24.65 29.6C24.65 29.241 24.359 28.95 24 28.95C23.641 28.95 23.35 29.241 23.35 29.6C23.35 29.959 23.641 30.25 24 30.25Z" fill="#6F97F3"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9 31.9C30.9493 31.9 31.8 31.0493 31.8 30C31.8 28.9507 30.9493 28.1 29.9 28.1C28.8507 28.1 28 28.9507 28 30C28 31.0493 28.8507 31.9 29.9 31.9ZM29.9 30.65C30.259 30.65 30.55 30.359 30.55 30C30.55 29.641 30.259 29.35 29.9 29.35C29.541 29.35 29.25 29.641 29.25 30C29.25 30.359 29.541 30.65 29.9 30.65Z" fill="#6F97F3"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M29.5 26C30.5493 26 31.4 25.1493 31.4 24.1C31.4 23.0507 30.5493 22.2 29.5 22.2C28.4506 22.2 27.6 23.0507 27.6 24.1C27.6 25.1493 28.4506 26 29.5 26ZM29.5 24.75C29.859 24.75 30.15 24.459 30.15 24.1C30.15 23.741 29.859 23.45 29.5 23.45C29.141 23.45 28.85 23.741 28.85 24.1C28.85 24.459 29.141 24.75 29.5 24.75Z" fill="#6F97F3"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9 32.4C36.9493 32.4 37.8 31.5493 37.8 30.5C37.8 29.4507 36.9493 28.6 35.9 28.6C34.8507 28.6 34 29.4507 34 30.5C34 31.5493 34.8507 32.4 35.9 32.4ZM35.9 31.15C36.259 31.15 36.55 30.859 36.55 30.5C36.55 30.141 36.259 29.85 35.9 29.85C35.541 29.85 35.25 30.141 35.25 30.5C35.25 30.859 35.541 31.15 35.9 31.15Z" fill="#6F97F3"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M30.4 37.9C31.4493 37.9 32.3 37.0493 32.3 36C32.3 34.9507 31.4493 34.1 30.4 34.1C29.3507 34.1 28.5 34.9507 28.5 36C28.5 37.0493 29.3507 37.9 30.4 37.9ZM30.4 36.65C30.759 36.65 31.05 36.359 31.05 36C31.05 35.641 30.759 35.35 30.4 35.35C30.041 35.35 29.75 35.641 29.75 36C29.75 36.359 30.041 36.65 30.4 36.65Z" fill="#6F97F3"/>
        </svg>
        p.banner-bot-item__text Гипсовая лангета
        p.banner-bot-item__subtext Снятие на 12 день
      .banner-bot-item.banner-bot-item_disc( data-aos-offset="0" data-aos="fade" data-aos-once="true" data-aos-delay="900" data-aos-duration="500")
        <svg class="banner-bot-item__img" width="71" height="60" viewBox="0 0 71 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M35.6431 50C35.2205 49.8836 34.7892 49.7922 34.3767 49.6461C33.3681 49.2914 32.4533 48.7492 31.726 47.9734C30.3978 46.5601 28.7314 46.0609 26.8752 46.0203C24.1627 45.9586 21.7877 44.0617 21.1939 41.4555C20.3658 37.8211 22.8986 34.4148 26.6471 34.1773C27.3986 34.1297 27.8189 33.7664 28.0994 33.1422C28.1689 32.9859 28.2103 32.8211 28.2916 32.6734C28.4416 32.4039 28.6783 32.2828 28.9806 32.3914C29.283 32.5 29.4314 32.7414 29.3713 33.0672C29.2568 33.6793 28.9397 34.2351 28.4711 34.6451C28.0025 35.0552 27.4095 35.2958 26.7877 35.3281C25.5373 35.3794 24.3569 35.9191 23.5002 36.8312C22.6434 37.7433 22.1786 38.9551 22.2056 40.2062C22.2478 42.7469 24.3517 44.7859 26.9502 44.8523C27.7236 44.8726 28.4947 45.0148 29.3986 45.1164C28.8744 44.7094 28.4189 44.3539 27.9595 44.0016C27.8945 43.9586 27.826 43.9209 27.7549 43.8891C27.2924 43.6445 27.1455 43.3422 27.3267 42.9969C27.5017 42.668 27.8502 42.6125 28.3119 42.8609C29.6033 43.5555 30.5494 44.6289 31.4455 45.7516C31.9877 46.4305 32.4658 47.1492 33.1799 47.6898C36.0658 49.8773 38.9728 48.5703 40.5236 46.5391C41.4197 45.3672 42.3205 44.2086 43.5213 43.3266C43.8058 43.1211 44.1068 42.9395 44.4213 42.7836C44.7783 42.6023 45.0963 42.7055 45.2533 43.0141C45.4103 43.3226 45.3017 43.6391 44.9408 43.8219C44.2978 44.15 43.7471 44.5898 43.1955 45.1703C43.7244 45.0766 44.165 44.9773 44.6103 44.9242C45.1783 44.8562 45.7572 44.8687 46.3189 44.768C48.2791 44.4266 49.5619 43.2836 50.1767 41.393C50.2088 41.2937 50.2267 41.1906 50.2588 41.0922C50.3713 40.7469 50.6642 40.5625 50.9713 40.6406C51.301 40.7242 51.4783 41.0352 51.39 41.4047C51.1252 42.5679 50.511 43.6223 49.6299 44.4266C48.508 45.4531 47.1799 45.9711 45.6627 46.0101C44.5572 46.0383 43.4752 46.2234 42.4978 46.7406C41.9832 47.0163 41.5085 47.3609 41.0869 47.7648C39.915 48.8766 38.6174 49.7086 36.9916 49.9461C36.9563 49.9592 36.9232 49.9774 36.8931 50H35.6431Z" fill="black"/>
          <path d="M40.8775 10C41.1837 10.1914 41.2728 10.4688 41.2728 10.8242C41.2728 13.0469 41.4806 15.2445 42.2884 17.3383C42.7478 18.525 43.3165 19.6695 43.7501 20.8648C44.7048 23.4977 44.7993 26.1961 44.2861 28.9398C44.0564 30.1703 43.9736 31.4227 44.3111 32.657C44.3856 32.9325 44.4965 33.1968 44.6407 33.443C44.9071 33.893 45.2892 34.1406 45.8486 34.1664C48.3228 34.2773 50.4079 35.8281 51.1978 38.1063C51.3595 38.575 51.254 38.8875 50.89 39.0141C50.5525 39.1336 50.272 38.9555 50.1009 38.518C49.315 36.5031 47.8306 35.4453 45.6782 35.3297C44.6626 35.2758 43.9892 34.718 43.5337 33.8641C42.9751 32.818 42.8798 31.6766 42.9548 30.5227C43.0178 29.5554 43.1599 28.592 43.3015 27.6318L43.3032 27.6203C43.6939 24.9516 43.2079 22.418 42.172 19.9641C42.0321 19.632 41.8814 19.3047 41.7126 18.9242L41.1111 17.6164L40.4298 15.1312C40.4298 14.8094 40.3392 14.4891 40.3165 14.1664C40.2384 13.0383 40.1712 11.9094 40.09 10.7812C40.0657 10.4328 40.1915 10.1781 40.4868 10H40.8775Z" fill="black"/>
          <path d="M32.1275 10C32.44 10.2164 32.5251 10.525 32.4954 10.8828C32.3845 12.2039 32.2611 13.5242 32.1712 14.8461L31.4126 17.5969L30.854 18.9906C29.4478 21.8961 28.7845 24.8789 29.3478 28.0688C29.4564 28.6828 29.5298 29.3039 29.6048 29.9234C29.6564 30.3492 29.4314 30.6625 29.0767 30.6961C28.7384 30.7289 28.4915 30.4812 28.4408 30.0602C28.2915 28.8336 28.0822 27.6109 28.004 26.3805C27.8376 23.7336 28.4681 21.2242 29.6306 18.8742C30.89 16.3305 31.2915 13.6398 31.3189 10.8562C31.3189 10.5078 31.397 10.2258 31.6626 10.0023L32.1275 10Z" fill="black"/>
          <path d="M49 22.7114L53 20V23.5L58.5 20" stroke="#6F97F3" stroke-linecap="round"/>
          <path d="M51.3089 30.4947L56.0513 29.5667L54.6804 32.7871L61.1118 31.7209" stroke="#6F97F3" stroke-linecap="round"/>
          <path d="M22.1118 22.7114L18.1118 20V23.5L12.6118 20" stroke="#6F97F3" stroke-linecap="round"/>
          <path d="M19.8029 30.4947L15.0606 29.5667L16.4314 32.7871L9.99999 31.7209" stroke="#6F97F3" stroke-linecap="round"/>
        </svg>
          p.banner-bot-item__text Дискомфорт
        p.banner-bot-item__subtext 4-5 дней
      .banner-bot-item.banner-bot-item_spritz( data-aos-offset="0" data-aos="fade" data-aos-once="true" data-aos-delay="1000" data-aos-duration="500")
        <svg class="banner-bot-item__img" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M42.3315 22.5956L43.5998 21.3269L45.5373 19.3894L46.6491 18.2779L46.9827 18.6115C47.572 19.2005 48.5254 19.2005 49.1146 18.6115L49.6384 18.0874C50.2261 17.4997 50.2261 16.5435 49.6384 15.9555L47.9643 14.2813L46.0268 12.3439L44.1252 10.4419C43.5359 9.85269 42.5822 9.85269 41.9933 10.4419L41.4691 10.9657C40.8814 11.5538 40.8814 12.5099 41.4691 13.0977L41.8028 13.4313L37.4851 17.7489L38.3156 18.5794L42.633 14.2618C43.735 15.3638 45.1067 16.7355 45.8189 17.4474L44.7071 18.5592L42.7696 20.4967L41.5013 21.7651L42.3315 22.5956ZM48.8082 16.7857L47.1341 15.1118L45.1966 13.1744L43.2947 11.2724C43.1638 11.1419 42.9534 11.1422 42.8235 11.2721L42.2993 11.7962C42.1697 11.9262 42.1694 12.1375 42.2993 12.2675L47.8132 17.781C47.9429 17.911 48.1545 17.911 48.2841 17.781L48.8082 17.2572C48.9382 17.1273 48.9379 16.9156 48.8082 16.7857Z" fill="black"/>
            <path d="M42.6331 14.2618C43.7351 15.3638 45.1068 16.7355 45.819 17.4474L46.6492 16.617L43.4633 13.4313L42.6331 14.2618Z" fill="#6F97F3"/>
          </g>
          <path d="M34.0332 17.4768L34.557 16.9527C34.6873 16.8224 34.8979 16.8227 35.0282 16.9527L43.1281 25.0525C43.2577 25.1825 43.258 25.3938 43.1281 25.5237L42.604 26.0475C42.4743 26.1775 42.2627 26.1775 42.1328 26.0475L34.0329 17.9477C33.9029 17.8177 33.9026 17.6067 34.0332 17.4768Z" fill="white"/>
          <path d="M18.2478 35.8482L32.4349 21.6611L38.4196 27.6459L37.0699 28.9956L36.0306 27.9562C35.8012 27.7266 35.4294 27.7269 35.2004 27.9559C34.971 28.1853 34.971 28.5571 35.2001 28.7864L36.2397 29.8258L34.8386 31.2269L33.7993 30.1872C33.5699 29.9579 33.1981 29.9579 32.9691 30.1872C32.7394 30.4166 32.7394 30.7884 32.9688 31.0174L34.0084 32.0571L32.6073 33.4582L31.568 32.4188C31.3386 32.1895 30.9668 32.1895 30.7375 32.4185C30.5081 32.6478 30.5081 33.0197 30.7375 33.249L31.7768 34.2887L30.376 35.6895L29.3364 34.6501C29.1073 34.4208 28.7355 34.4205 28.5062 34.6498C28.2768 34.8791 28.2768 35.251 28.5062 35.4803L29.5455 36.5197L28.1447 37.9208L27.1051 36.8811C26.8761 36.6521 26.5042 36.6518 26.2749 36.8811C26.0455 37.1104 26.0455 37.4823 26.2749 37.7113L27.3142 38.751L25.9131 40.1521L24.8738 39.1124C24.6445 38.8831 24.2726 38.8834 24.0436 39.1124C23.8143 39.3417 23.8143 39.7136 24.0436 39.9429L25.0829 40.9823L24.2323 41.8329C23.6629 42.4023 22.7413 42.4032 22.171 41.8339L18.2478 37.9104C17.6778 37.3407 17.6778 36.4181 18.2478 35.8482Z" fill="white"/>
          <path d="M34.2601 19.8356L40.2452 25.8206L39.2498 26.8157L33.2651 20.8309L34.2601 19.8356Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1718 49.8282C10.4014 50.0573 10.7729 50.0573 11.0023 49.8282L17.8833 42.9472L18.227 43.2906C18.6126 43.6765 19.1963 43.8123 19.7134 43.6343L21.6872 42.9552C22.7092 43.6771 24.1381 43.5878 25.0628 42.6634L41.0754 26.6508L41.3026 26.878C41.8903 27.4654 42.8465 27.4658 43.4345 26.878L43.9583 26.3539C44.546 25.7662 44.546 24.81 43.9583 24.222L42.3315 22.5956L41.5013 21.7651L38.3157 18.5794L37.4852 17.7489L35.8587 16.1221C35.2695 15.5332 34.316 15.5329 33.7268 16.1221L33.203 16.646C32.6138 17.2352 32.6138 18.1889 33.203 18.7779L33.4299 19.0051L17.4173 35.0177C16.4632 35.972 16.4119 37.4425 17.1681 38.4525L16.4932 40.4138C16.3156 40.9306 16.4504 41.514 16.8366 41.9005L17.0531 42.1167L10.1718 48.9977C9.94274 49.2271 9.94274 49.5986 10.1718 49.8282ZM34.557 16.9527L34.0332 17.4768C33.9026 17.6067 33.9029 17.8177 34.0329 17.9477L42.1328 26.0475C42.2627 26.1775 42.4743 26.1775 42.604 26.0475L43.1281 25.5237C43.258 25.3938 43.2577 25.1825 43.1281 25.0525L35.0282 16.9527C34.8979 16.8227 34.6873 16.8224 34.557 16.9527ZM40.2452 25.8206L34.2601 19.8356L33.2651 20.8309L39.2498 26.8157L40.2452 25.8206ZM32.4349 21.6611L18.2478 35.8482C17.6778 36.4181 17.6778 37.3407 18.2478 37.9104L22.171 41.8339C22.7413 42.4032 23.6629 42.4023 24.2323 41.8329L25.0829 40.9823L24.0436 39.9429C23.8143 39.7136 23.8143 39.3417 24.0436 39.1124C24.2726 38.8834 24.6445 38.8831 24.8738 39.1124L25.9131 40.1521L27.3142 38.751L26.2749 37.7113C26.0455 37.4823 26.0455 37.1104 26.2749 36.8811C26.5042 36.6518 26.8761 36.6521 27.1051 36.8811L28.1447 37.9208L29.5455 36.5197L28.5062 35.4803C28.2768 35.251 28.2768 34.8791 28.5062 34.6498C28.7355 34.4205 29.1073 34.4208 29.3364 34.6501L30.376 35.6895L31.7768 34.2887L30.7375 33.249C30.5081 33.0197 30.5081 32.6478 30.7375 32.4185C30.9668 32.1895 31.3386 32.1895 31.568 32.4188L32.6073 33.4582L34.0084 32.0571L32.9688 31.0174C32.7394 30.7884 32.7394 30.4166 32.9691 30.1872C33.1981 29.9579 33.5699 29.9579 33.7993 30.1872L34.8386 31.2269L36.2397 29.8258L35.2001 28.7864C34.971 28.5571 34.971 28.1853 35.2004 27.9559C35.4294 27.7269 35.8012 27.7266 36.0306 27.9562L37.0699 28.9956L38.4196 27.6459L32.4349 21.6611ZM18.0818 39.4053L17.6035 40.7957C17.5708 40.8911 17.5959 40.9988 17.6668 41.07L18.1809 41.584L19.0572 42.4604C19.1284 42.5316 19.2361 42.5564 19.3315 42.5237L20.7219 42.0455L18.0818 39.4053Z" fill="black"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M39.2498 26.8157L33.2651 20.8309L32.4349 21.6611L38.4196 27.6459L39.2498 26.8157ZM18.2478 37.9104L18.0818 39.4053L20.7219 42.0455L22.171 41.8339L18.2478 37.9104Z" fill="#6F97F3"/>
        </svg>
        p.banner-bot-item__text Анестезия
        p.banner-bot-item__subtext Общая, 2-4 часа
  section#result.w1400.result
    p.result__title( data-aos-offset="0" data-aos="fade-up" data-aos-once="true") Результаты операции
    p.result__text( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="100") За каждым результатом стоит своя история. Однозначного эталона носа не существует, но существует форма, которая гармонично дополнит именно ваше лицо. Найти ее – основная задача врача.
    .result-wrap
      -for(var i = 1; i < 7;i++)
        .result-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-duration="500" data-aos-delay=`${i * 50 + 300}`)
          a.result-item-imgbox(href=`assets/images/result-${i}.png`, data-fancybox="results", data-caption=`My caption6 ${i}`)
            img(src=`assets/images/result-${i}.png`, alt="Результат ринопластики")
          p.result-item__title Ринопластика #{i}
          p.result-item__text Результат через месяц #{i}
    button.btn.btn_white.result__more Смотреть еще
  section#views.w1400.views
    p.views__title( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="700") Виды ринопластики
    .tabs-wrap( data-aos-offset="0" data-aos="fade" data-aos-once="true" data-aos-delay="700")
      .tabs
        .tabs__slide
        button.tabs__tab.active(data-tabs="1") Открытая
        button.tabs__tab(data-tabs="2") Закрытая
        button.tabs__tab(data-tabs="3") Безоперационная
      .blocks.blocks_views
        .blocks__block.active(data-tabs="1") Открытая ринопластика: в основном такой способ применяется при сложных вмешательствах, где имеет место большой объем хирургического вмешательства. Доступ осуществляется на колюмелле (складка кожи между ноздрями). В результате выполнения данной методики поднимаются все мягкие ткани носа и полностью обнажаются все костно-хрящевые структуры с которыми становится удобно работать.
        .blocks__block(data-tabs="2") Закрытая ринопластика: более сложный метод  и требует от доктора, практически, ювелирной точности работы. Все разрезы при такой манипуляции скрыты и проводится внутри на слизистой оболочке. Главное преимущество - сохранение всех мягкотканных структур в том числе основных связок Scroll и Pitanguy, что в свою очередь дает более естественный вид носа.
        .blocks__block(data-tabs="3") Безоперационная ринопластика: это менее радикальная методика, которая позволяет без хирургического вмешательства устранить незначительные дефекты с помощью филлеров на основе гиалуроновой кислоты или специальных нитей.
    a.btn.btn_white.views__btn(href="#about") О враче
    .views-woman( data-aos-offset="0" data-aos="fade-left" data-aos-once="true" data-aos-duration="700")
      img(src="assets/images/girl-views.png", alt="Виды ринопластики")
  section#stages.stages-wrap
    .w1400.stages
      p.stages__title( data-aos-offset="0" data-aos="fade-up" data-aos-once="true") Этапы проведения
      p.stages__text( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="100") Закрытая или открытая ринопластика выполняется исключительно по показаниям исходя из анатомических особенностей строения
      .stages-row 
        .stages-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-duration="600")
          .stages-item-imgbox
            img(src="assets/images/stage-1.png", alt="Выделение тканей")
            p.stages-item-imgbox__text Поднадхрящевая отслойка тканей
          .stages-item-desc
            p.stages-item__title Выделение тканей
            p.stages-item__text Производится отслойка всех костно-хрящевых структур с сохранением основных связок Scroll и Pitanguy
        .stages-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-duration="600" data-aos-delay="100")
          .stages-item-imgbox
            img(src="assets/images/stage-2.png", alt="Исправление спинки носа")
            p.stages-item-imgbox__text Удаление <br>костно-хрящевой горбинки
          .stages-item-desc
            p.stages-item__title Исправление спинки носа
            p.stages-item__text Удаляется костно-хрящевая горбинка или выполняется её понижение в зависимости от выбранной методики
        .stages-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-duration="600" data-aos-delay="200")
          .stages-item-imgbox
            img(src="assets/images/stage-3.png", alt="Формирование кончика")
            p.stages-item-imgbox__text Ремоделирование кончика носа
          .stages-item-desc
            p.stages-item__title Формирование кончика
            p.stages-item__text Производится ремоделирование кончика и спинки с последующим наложением гипсовой лангеты
  section#about.w1400.about
    .about-desc
      .about-desc-top
        .about-desc-top-wrap
          p.about-desc__title( data-aos-offset="0" data-aos="fade-up" data-aos-once="true") О хирурге
          p.about-desc__text( data-aos-offset="0" data-aos="fade-up" data-aos-once="true")
            img(src="assets/images/opreh.png", alt="Российское общество пластических, реконструктивных и эстетических хирургов (ОПРЭХ)")
            | Действующий член Российского общества пластических, реконструктивных и эстетических хирургов (ОПРЭХ)
          p.about-desc__text( data-aos-offset="0" data-aos="fade-up" data-aos-once="true") Заведующий отделением пластической хирургии клиники пластической хирургии и косметологии “Capital-MED”
        .about-img( data-aos-offset="0" data-aos="fade-right" data-aos-once="true" data-aos-duration="700")
          img(src="assets/images/vasilev.png", alt="Вас")
      .tabs-wrap( data-aos-offset="0" data-aos="fade" data-aos-delay="700" data-aos-once="true")
        .tabs
          .tabs__slide
          button.tabs__tab.active(data-tabs="1") Опыт работы
          button.tabs__tab(data-tabs="2") Обучение
          button.tabs__tab(data-tabs="3") Участие в конференциях
        .blocks
          .blocks__block.active(data-tabs="1")
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
          .blocks__block(data-tabs="2")
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
          .blocks__block(data-tabs="3")
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
            .about-block-row
              p.about-block-row__when С 2018 года
              p.about-block-row__what Клиника пластической хирургии и косметологии "Capital-MED" г. Санкт-Петербург
  section#clinic.clinic
    .clinic-slider-wrap
      .clinic-arrows
        button.clinic-arrows__prev
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle r="25" transform="matrix(-1 0 0 1 25 25)" fill="white" fill-opacity="0.7"/>
            <path d="M30 15L20 25L30 35" stroke="#6B6B6B" stroke-width="1.5"/>
          </svg>
        button.clinic-arrows__next
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25" r="25" fill="white" fill-opacity="0.7"/>
            <path d="M20 15L30 25L20 35" stroke="#6B6B6B" stroke-width="1.5"/>
          </svg>
      .clinic-slider
        .clinic-slider__item
          picture
            source(srcset="assets/images/clinic.jp2" type="image/jp2")
            img(src="assets/images/clinic.png", alt="Клиника")
        .clinic-slider__item
          picture
            source(srcset="assets/images/clinic.jp2" type="image/jp2")
            img(src="assets/images/clinic.png", alt="Клиника")
        .clinic-slider__item
          picture
            source(srcset="assets/images/clinic.jp2" type="image/jp2")
            img(src="assets/images/clinic.png", alt="Клиника")
    .clinic-desc-wrap
      .clinic-desc
        .clinic-desc-head
          p.clinic-desc-head__title( data-aos-offset="0" data-aos="fade-up" data-aos-once="true") Клиника пластической хирургии —<br> рабочее место хирурга
          p.clinic-desc-head__text( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="100") CapitalMed <br>г. Санкт-Петербург, <br>ул. Полтавская, д. 7
        .clinic-desc-main
          .clinic-desc-main-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="0")
            <svg width="55" height="41" viewBox="0 0 55 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M53.7143 19.5687H49.0909C51.013 15.2051 50.8052 11.6726 50.0779 9.28302C48.8312 5.02328 44.6234 0.399902 38.3896 0.399902C36.7273 0.399902 35.0649 0.71159 33.3506 1.33497C30.3896 2.42588 28.4156 3.62068 27.5325 4.24406C26.6494 3.62068 24.7273 2.42588 21.7143 1.33497C20 0.71159 18.2857 0.399902 16.6753 0.399902C10.4416 0.399902 6.23377 5.02328 4.98701 9.28302C4.25974 11.8285 4 15.6726 6.44156 20.5038H0.831169C0.363636 20.5038 0 20.8674 0 21.335C0 21.8025 0.363636 22.1661 0.831169 22.1661H7.42857C7.68831 22.6337 8 23.1012 8.36364 23.5687C13.7662 31.3609 25.5065 39.8285 27.6364 40.348V40.3999C27.6364 40.3999 27.6883 40.3999 27.7403 40.348C27.7922 40.348 27.8442 40.348 27.8961 40.348V40.296C29.7143 39.4129 40.987 32.1402 46.9091 23.5168C47.4805 22.7376 47.9481 21.9583 48.3636 21.1791H53.8182C54.2857 21.1791 54.6493 20.8155 54.6493 20.348C54.6493 19.8804 54.1818 19.5687 53.7143 19.5687ZM45.4026 22.6337C39.8961 30.6856 29.7662 37.1791 27.5844 38.5817C25.3506 37.1791 15.2727 30.6337 9.71429 22.6337C9.61039 22.4778 9.50649 22.322 9.4026 22.1661H17.039C17.3506 22.1661 17.6623 22.0103 17.8182 21.6986L21.2987 14.8415L26.7532 28.8155C26.8571 29.1272 27.2208 29.335 27.5325 29.335C27.5325 29.335 27.5325 29.335 27.5844 29.335C27.9481 29.335 28.2597 29.0752 28.3636 28.7116L33.1429 12.348L35.6883 20.6077C35.7922 20.9194 36.0519 21.1272 36.3636 21.1791C36.6753 21.2311 36.987 21.0752 37.1948 20.8155L39.2208 17.8544L40.9351 20.7635C41.0909 21.0233 41.3507 21.1791 41.6623 21.1791H46.3377C46.026 21.6986 45.7143 22.1661 45.4026 22.6337ZM47.2727 19.5687H42.1818L40.0519 15.9324C39.8961 15.6726 39.6364 15.5168 39.3247 15.5168C39.013 15.5168 38.7533 15.6207 38.5974 15.8804L36.8312 18.4778L33.974 9.17912C33.8701 8.81549 33.5065 8.60769 33.1429 8.55575C32.7792 8.55575 32.4156 8.81549 32.3117 9.17912L27.4805 25.8544L22.2338 12.4518C22.1299 12.1402 21.8182 11.9324 21.5065 11.9324C21.1429 11.9324 20.8831 12.0882 20.7273 12.3999L16.6234 20.4518H8.36364C6.28572 16.6596 5.71429 13.0233 6.64935 9.75055C7.74026 6.06224 11.3247 2.11419 16.7273 2.11419C18.1818 2.11419 19.6883 2.42588 21.1948 2.94536C24.987 4.34795 27.013 5.95834 27.0649 5.95834C27.3766 6.21808 27.7922 6.21808 28.1039 5.95834C28.1039 5.95834 30.1299 4.34795 33.974 2.94536C35.4805 2.37393 36.987 2.11419 38.4416 2.11419C43.7922 2.11419 47.4286 6.06224 48.5195 9.75055C49.4026 12.7635 48.9351 16.0882 47.2727 19.5687Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M53.7143 19.5687H49.0909H47.2727H42.1818L40.0519 15.9324C39.8961 15.6726 39.6364 15.5168 39.3247 15.5168C39.013 15.5168 38.7533 15.6207 38.5974 15.8804L36.8312 18.4778L33.974 9.17912C33.8701 8.81549 33.5065 8.60769 33.1429 8.55575C32.7792 8.55575 32.4156 8.81549 32.3117 9.17912L27.4805 25.8544L22.2338 12.4518C22.1299 12.1402 21.8182 11.9324 21.5065 11.9324C21.1429 11.9324 20.8831 12.0882 20.7273 12.3999L16.6234 20.4518H8.36364L6.44156 20.5038H0.831169C0.363636 20.5038 0 20.8674 0 21.335C0 21.8025 0.363636 22.1661 0.831169 22.1661H7.42857H9.4026H17.039C17.3506 22.1661 17.6623 22.0103 17.8182 21.6986L21.2987 14.8415L26.7532 28.8155C26.8571 29.1272 27.2208 29.335 27.5325 29.335H27.5844C27.9481 29.335 28.2597 29.0752 28.3636 28.7116L33.1429 12.348L35.6883 20.6077C35.7922 20.9194 36.0519 21.1272 36.3636 21.1791C36.6753 21.2311 36.987 21.0752 37.1948 20.8155L39.2208 17.8544L40.9351 20.7635C41.0909 21.0233 41.3507 21.1791 41.6623 21.1791H46.3377H48.3636H53.8182C54.2857 21.1791 54.6493 20.8155 54.6493 20.348C54.6493 19.8804 54.1818 19.5687 53.7143 19.5687Z" fill="#6F97F3"/>
            </svg>
            p.clinic-desc-main-item__title Реанимационное <br>оборудование
            p.clinic-desc-main-item__text В независимости от степени опытности хирурга, важно иметь запасной план для внеочередных ситуаций
          .clinic-desc-main-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="100")
            <svg width="47" height="41" viewBox="0 0 47 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M46.181 21.3058C46.181 19.1488 44.9227 17.2805 43.1017 16.3956V13.6001C43.1017 13.2265 42.7989 12.9236 42.4252 12.9236C42.0515 12.9236 41.7487 13.2265 41.7487 13.6001V15.9477C41.417 15.8845 41.0752 15.85 40.7253 15.85H27.3984C31.9645 13.0225 34.447 9.7257 34.447 6.41392C34.447 6.28593 34.442 6.15875 34.4348 6.03221H39.3155C40.6572 6.03221 41.7488 7.12377 41.7488 8.46546V14.8954C41.7488 15.269 42.0516 15.5719 42.4253 15.5719C42.799 15.5719 43.1018 15.269 43.1018 14.8954V8.46546C43.1018 6.37775 41.4033 4.67925 39.3155 4.67925H34.2138C33.9483 3.71612 33.4613 2.83525 32.7792 2.10916C31.6608 0.918738 30.1164 0.263184 28.4306 0.263184C25.7022 0.263184 23.9231 1.58683 23.0906 2.39599C22.2581 1.58692 20.479 0.263184 17.7506 0.263184C16.0647 0.263184 14.5204 0.918738 13.4022 2.10916C12.72 2.83525 12.233 3.71612 11.9674 4.67925H6.86555C4.77784 4.67925 3.07934 6.37775 3.07934 8.46546V16.3956C1.25834 17.2805 0 19.1488 0 21.3058V32.6146C0 32.9883 0.302883 33.2911 0.67648 33.2911C1.05008 33.2911 1.35296 32.9883 1.35296 32.6146V21.3058C1.35296 19.0435 3.19344 17.2031 5.45568 17.2031H40.7253C42.9875 17.2031 44.828 19.0435 44.828 21.3058V31.144H1.35296V28.3193C1.35296 27.9456 1.05008 27.6428 0.67648 27.6428C0.302883 27.6428 0 27.9456 0 28.3193V31.8204V34.9387C0 35.3123 0.302883 35.6151 0.67648 35.6151H2.19955V39.5867C2.19955 39.9604 2.50244 40.2632 2.87603 40.2632H6.57782C6.95142 40.2632 7.2543 39.9604 7.2543 39.5867V35.6151H38.9268V39.5867C38.9268 39.9604 39.2296 40.2632 39.6033 40.2632H43.305C43.6787 40.2632 43.9815 39.9604 43.9815 39.5867V35.6151H45.5046C45.8783 35.6151 46.181 35.3123 46.181 34.9387V31.8204V21.3058ZM4.4323 15.9477V8.46546C4.4323 7.12377 5.52387 6.03221 6.86555 6.03221H11.7462C11.739 6.15884 11.734 6.28593 11.734 6.41392C11.734 9.72579 14.2165 13.0226 18.7826 15.85H5.45568C5.1058 15.8501 4.76404 15.8845 4.4323 15.9477ZM21.5237 15.8501C14.187 12.0421 13.087 8.30816 13.087 6.41401C13.087 3.75725 15.0444 1.61623 17.7505 1.61623C20.8871 1.61623 22.4792 3.7144 22.5437 3.80145C22.671 3.97625 22.8742 4.07961 23.0905 4.07961C23.3068 4.07961 23.51 3.97625 23.6373 3.80145C23.6533 3.77962 25.2655 1.61623 28.4305 1.61623C29.739 1.61623 30.9331 2.12026 31.7929 3.03558C32.6363 3.93331 33.094 5.13691 33.094 6.41401C33.094 8.30816 31.9942 12.0421 24.6574 15.8501H21.5237ZM5.90125 38.9104H3.55251V35.6153H5.90134L5.90125 38.9104ZM42.6285 38.9104H40.2798V35.6153H42.6285V38.9104ZM44.8281 34.2623C38.7272 34.2623 7.45418 34.2623 1.35296 34.2623V32.497H44.8281V34.2623Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7462 6.03221L11.9674 4.67925C12.233 3.71612 12.72 2.83525 13.4022 2.10916C14.5204 0.918738 16.0647 0.263184 17.7506 0.263184C20.479 0.263184 22.2581 1.58692 23.0906 2.39599C23.9231 1.58683 25.7022 0.263184 28.4306 0.263184C30.1164 0.263184 31.6608 0.918738 32.7792 2.10916C33.4613 2.83525 33.9483 3.71612 34.2138 4.67925L34.4348 6.03221C34.442 6.15875 34.447 6.28593 34.447 6.41392C34.447 9.7257 31.9645 13.0225 27.3984 15.85L24.6574 15.8501C31.9942 12.0421 33.094 8.30816 33.094 6.41401C33.094 5.13691 32.6363 3.93331 31.7929 3.03558C30.9331 2.12026 29.739 1.61623 28.4305 1.61623C25.2655 1.61623 23.6533 3.77962 23.6373 3.80145C23.51 3.97625 23.3068 4.07961 23.0905 4.07961C22.8742 4.07961 22.671 3.97625 22.5437 3.80145C22.4792 3.7144 20.8871 1.61623 17.7505 1.61623C15.0444 1.61623 13.087 3.75725 13.087 6.41401C13.087 8.30816 14.187 12.0421 21.5237 15.8501L18.7826 15.85C14.2165 13.0226 11.734 9.72579 11.734 6.41392C11.734 6.28593 11.739 6.15884 11.7462 6.03221Z" fill="#6F97F3"/>
            </svg>
            p.clinic-desc-main-item__title Комфортные <br>палаты
            p.clinic-desc-main-item__text Комфорт, уют и удобство пациентов — наша самая главная задача. 
          .clinic-desc-main-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="200")
            <svg width="31" height="40" viewBox="0 0 31 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.219238 4.66647V39.3331C0.219238 39.7014 0.517734 39.9999 0.885979 39.9999H26.2194C26.5873 39.9999 26.8858 39.7014 26.8858 39.3331V11.3333C26.8858 11.3185 26.8787 11.3059 26.8773 11.2913C26.874 11.2328 26.8625 11.1751 26.8433 11.12C26.8358 11.0985 26.8306 11.0779 26.8213 11.0571C26.7889 10.9846 26.7439 10.9184 26.6878 10.8618L20.0213 4.19524C19.9647 4.13895 19.8982 4.09391 19.8252 4.06179C19.8051 4.05327 19.7848 4.04613 19.764 4.03982C19.7082 4.0206 19.6503 4.00906 19.5912 4.00522C19.58 4.00714 19.5668 4 19.5528 4H0.885979C0.517734 4 0.219238 4.29822 0.219238 4.66647ZM24.6099 10.6666H20.2192V6.27592L24.6099 10.6666ZM1.55244 5.33321H18.886V11.3333C18.886 11.7013 19.1845 11.9998 19.5525 11.9998H25.5526V38.6666H1.55244V5.33321Z" fill="black"/>
              <path d="M28.2194 34.6666V35.9999H30.2194C30.5876 35.9999 30.8861 35.7016 30.8861 35.3334V0.66674C30.8861 0.298495 30.5876 0 30.2194 0H4.88598C4.51773 0 4.21924 0.298495 4.21924 0.66674V2.66669H5.55272V1.33321H29.5526V34.6666H28.2194Z" fill="black"/>
              <path d="M5.55249 13.3335H21.5523V14.6667H5.55249V13.3335Z" fill="#6F97F3"/>
              <path d="M5.55249 9.33301H10.8859V10.6665H5.55249V9.33301Z" fill="#6F97F3"/>
              <path d="M5.55249 17.3335H16.2192V18.667H5.55249V17.3335Z" fill="#6F97F3"/>
              <path d="M17.5525 17.3335H21.5524V18.667H17.5525V17.3335Z" fill="#6F97F3"/>
              <path d="M5.55249 21.333H21.5523V22.6665H5.55249V21.333Z" fill="#6F97F3"/>
              <path d="M5.55249 29.3335H21.5523V30.667H5.55249V29.3335Z" fill="#6F97F3"/>
              <path d="M11.5525 25.3335H21.5525V26.6667H11.5525V25.3335Z" fill="#6F97F3"/>
              <path d="M5.55249 25.3335H10.2191V26.6667H5.55249V25.3335Z" fill="#6F97F3"/>
              <path d="M5.55249 33.3335H8.21918V34.6667H5.55249V33.3335Z" fill="#6F97F3"/>
              <path d="M9.55249 33.3335H21.5524V34.6667H9.55249V33.3335Z" fill="#6F97F3"/>
            </svg>
            p.clinic-desc-main-item__title Медицинское <br>оформление
            p.clinic-desc-main-item__text Полное юридичиеское оформление позволяет сделать налоговый вычет
        .clinic-desc-bot
          button.btn.btn_white( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-popup) Хочу на экскурсию
          a(href="#"  data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="100").clinic-desc-bot__link Лицензия на осуществление <br>медицинской деятельности №76-843
  section#features.w1400.views.features
    p.views__title( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="700") Особенности операции
    .tabs-wrap( data-aos-offset="0" data-aos="fade" data-aos-once="true" data-aos-delay="700")
      .tabs
        .tabs__slide
        button.tabs__tab.active(data-tabs="1") Противопоказания
        button.tabs__tab(data-tabs="2") Показания
      .blocks.blocks_views
        .blocks__block.active(data-tabs="1") 
          ul
            li Нарушение свертываемости крови
            li Онкология или инфекционные заболевания
            li Серьезные повреждения кожи в оперируемой области
            li Заболевания сердечно-сосудистой системы
            li Серьезные заболевания внутренних органов
            li Сахарный диабет и проблемы щитовидной железы не скорректированные
        .blocks__block(data-tabs="2") 
          ul
            li Нарушение свертываемости крови
            li Онкология или инфекционные заболевания
            li Серьезные повреждения кожи в оперируемой области
            li Заболевания сердечно-сосудистой системы
            li Серьезные заболевания внутренних органов
            li Сахарный диабет и проблемы щитовидной железы не скорректированные
    button.btn.btn_white.views__btn(data-popup) Онлайн консультация
    .views-woman( data-aos-offset="0" data-aos="fade-left" data-aos-once="true" data-aos-duration="700")
      img(src="assets/images/features.png", alt="Особенности операции по ринопластике")
  section.recomended-wrap
    .w1400.recomended
      p.recomended__title( data-aos-offset="0" data-aos="fade-up" data-aos-once="true") Рекомендации после операции
      ul.recomended-ul( data-aos-offset="0" data-aos="fade-up" data-aos-once="true")
        li.recomended-ul__li — Отказ от курения на 30 дней
        li.recomended-ul__li — Воздержаться от ношения очков
        li.recomended-ul__li — Ограничение физических нагрузок
        li.recomended-ul__li — Нежелательны температурные нагрузки
        li.recomended-ul__li — Ограничение наклонов головы
        li.recomended-ul__li — Ограничить потребление соленой и жареной пищи
        li.recomended-ul__li — Исключить сон "на боку"
        li.recomended-ul__li — Бассейн и посещение солярия
      a(href="#" data-aos-once="true"  data-aos-offset="0" data-aos="fade-left" data-aos-delay="400").recomended__download
        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 10V11C1 11.5523 1.44772 12 2 12H10C10.5523 12 11 11.5523 11 11V10" stroke="white" stroke-linecap="round"/>
          <path d="M5.64645 8.35355C5.84171 8.54882 6.15829 8.54882 6.35355 8.35355L9.53553 5.17157C9.7308 4.97631 9.7308 4.65973 9.53553 4.46447C9.34027 4.2692 9.02369 4.2692 8.82843 4.46447L6 7.29289L3.17157 4.46447C2.97631 4.2692 2.65973 4.2692 2.46447 4.46447C2.2692 4.65973 2.2692 4.97631 2.46447 5.17157L5.64645 8.35355ZM5.5 2.18557e-08L5.5 8L6.5 8L6.5 -2.18557e-08L5.5 2.18557e-08Z" fill="white"/>
        </svg>
        | Скачать памятку
  section#rehab.w1400.rehab
    p.rehab__title( data-aos-offset="0" data-aos="fade-up" data-aos-once="true") Период реабилитации
    p.rehab__text( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="100") Послеоперационный период во многом зависит от вида проводимого вмешательства, сложности и его объема. Восстановление после первичной проходит быстрее, чем после осуществления повторных коррекций. Закрытые способы также занимают значительно меньше времени по восстановлению, чем открытые.
    .rehab-wrap
      .rehab-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true")
        p.rehab-item__title 4-5 дней
        p.rehab-item__text В первые 4-5 дней наблюдаются сильный отек носа и области вокруг глаз, иногда такой отек может сочетаться с гематомами. Все эти временные неудобства связаны с физиологическими особенностями организма и проходят самостоятельно в течение 10-14 дней. Как правило, послеоперационное время не доставляет пациенту болезненных ощущений.
      .rehab-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="100")
        p.rehab-item__title 7-12 дней
        p.rehab-item__text В течение 7-12 дней, необходимо обязательное ношение гипсовой маски (лангеты). В некоторых случаях, в полость, устанавливаются тампоны, которые удаляются в первые три дня.
      .rehab-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true")
        p.rehab-item__title 3 месяца
        p.rehab-item__text В восстановительном периоде следует отказаться от ношения очков до 2-х месяцев, занятий активным спортом до 3-х месяцев, нежелательны температурные нагрузки (посещения бань, саун и бассейна), также в течение трех месяцев.
      .rehab-item( data-aos-offset="0" data-aos="fade-up" data-aos-once="true" data-aos-delay="100")
        p.rehab-item__title 12 месяцев
        p.rehab-item__text Срок заживления во многом зависит от возраста пациента и индивидуальных особенностей организма. Предварительный результат оценивается не раньше чем через 6 месяцев, окончательный — через 12 месяцев.
  section#faq.faq
    p.faq__title( data-aos-offset="0" data-aos="fade-up" data-aos-once="true") Часто задаваемые вопросы
    .faq-wrap
      .faq-item-wrap( data-aos-offset="0" data-aos="fade-up" data-aos-once="true")
        .faq-item
          .faq-item-top
            p.faq-item-top__title Кому можно делать ринопластику?
            .faq-item-top__close
              span
              span
          p.faq-item-main Конечно же хирургические разрезы всегда дают в результате шрамы, но при закрытой ринопластике, они ограничены внутренней частью носа и совершенно не видны. При открытой ринопластике шрам едва заметен и со временем совсем исчезает.
      .faq-item-wrap( data-aos-offset="0" data-aos="fade-up" data-aos-once="true")
        .faq-item
          .faq-item-top
            p.faq-item-top__title Кому можно делать ринопластику?
            .faq-item-top__close
              span
              span
          p.faq-item-main Конечно же хирургические разрезы всегда дают в результате шрамы, но при закрытой ринопластике, они ограничены внутренней частью носа и совершенно не видны. При открытой ринопластике шрам едва заметен и со временем совсем исчезает.
      .faq-item-wrap( data-aos-offset="0" data-aos="fade-up" data-aos-once="true")
        .faq-item
          .faq-item-top
            p.faq-item-top__title Кому можно делать ринопластику?
            .faq-item-top__close
              span
              span
          p.faq-item-main Конечно же хирургические разрезы всегда дают в результате шрамы, но при закрытой ринопластике, они ограничены внутренней частью носа и совершенно не видны. При открытой ринопластике шрам едва заметен и со временем совсем исчезает.
      .faq-item-wrap( data-aos-offset="0" data-aos="fade-up" data-aos-once="true")
        .faq-item
          .faq-item-top
            p.faq-item-top__title Кому можно делать ринопластику?
            .faq-item-top__close
              span
              span
          p.faq-item-main Конечно же хирургические разрезы всегда дают в результате шрамы, но при закрытой ринопластике, они ограничены внутренней частью носа и совершенно не видны. При открытой ринопластике шрам едва заметен и со временем совсем исчезает.
  section#form.form-wrap
    .w1400.form
      p.form__title( data-aos-offset="0" data-aos="fade-up" data-aos-once="true") Задайте свой вопрос напрямую
      .form-wrapper
        form.form-left( data-aos-offset="0" data-aos="fade-right" data-aos-once="true")
          p.form-wrap__title Напишите
          .form-wrapperFields
            label.form-label
              | Ваше имя
              input(type="text" data-required="true" data-type="text" placeholder="Напишите Ваше имя")
              p.form-label__alert Это обязательное поле
            label.form-label
              | Телефон
              input(type="text" data-required="true" data-type="tel" placeholder="+7 (999) 999-99-99")
              p.form-label__alert Это обязательное поле
            label.form-label.form-label_comment
              | Комментарий
              input(type="text" data-type="text" placeholder="Краткое изложение целей сделает разговор продуктивнее")
            label.form-label.form-label_file
              .form-file-overlay
              input(type="file" multiple)
              .form-file
                <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.125 20C1.85048 20 0 18.4229 0 16.4844V4.6875C0 2.10281 2.4673 0 5.5 0C8.5327 0 11 2.10281 11 4.6875V16.4844H9.625V4.6875C9.625 2.74898 7.77452 1.17188 5.5 1.17188C3.22548 1.17188 1.375 2.74898 1.375 4.6875V16.4844C1.375 17.7767 2.60865 18.8281 4.125 18.8281C5.64135 18.8281 6.875 17.7767 6.875 16.4844V7.03125C6.875 6.38508 6.25817 5.85938 5.5 5.85938C4.74183 5.85938 4.125 6.38508 4.125 7.03125V16.4844H2.75V7.03125C2.75 5.73891 3.98365 4.6875 5.5 4.6875C7.01635 4.6875 8.25 5.73891 8.25 7.03125V16.4844C8.25 18.4229 6.39952 20 4.125 20Z" fill="black"/>
                </svg>
                .form-file-block
                  p.form-file__title Прикрепить фото
                  p.form-file__text До 20 мб
              .form-file__close
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9L5 5M9 1L5 5M5 5L9 9M5 5L1 1" stroke="rgba(0, 0, 0, 0.25)" stroke-linecap="round"/>
                </svg>
          .form-left-bot
            button(type="submit" data-type="submit").btn.btn_blue.form-left-bot__btn Жду звонка
            p.form-left-bot__text Отправляя личные данные, Вы соглашаетесь с политикой конфиденциальности
        .form-right( data-aos-offset="0" data-aos="fade-left" data-aos-once="true" data-aos-delay="300")
          p.form-wrap__title Позвоните
          a(href="tel: +7 (911) 737-37-37").form-right__phone +7 (911) 737-37-37
            .form-right__quick
              p Самый быстрый <br>способ связи
              <svg width="98" height="98" viewBox="0 0 98 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 97.2929C53.7334 97.2929 97.2929 53.7334 97.2929 0" stroke="#969696"/>
              </svg>
          p.form-right__text Звоните с 10 до 19
          p.form-right__text Пишите в любое время
          .form-right-social 
            a(href="#")
              img(src="assets/images/social/telegram.svg", alt="Telegram")
            a(href="#")
              img(src="assets/images/social/viber.svg", alt="Viber")
            a(href="#")
              img(src="assets/images/social/whats.svg", alt="What`s Up")
  include ../common/footer